.home {
    padding: 10px;
    padding-bottom: 100px;
}
.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin: 30px auto;
    max-width: 600px;
    text-align: center;
}
.hero h1 {
    font-size: max(4vw, 36px);
}
.hero p {
    width: 75%;
    color: #e3e3e3;
    line-height: 2;
}
.hero form {
    display: flex;
    width: 80%;
    background: white;
    border-radius: 5px;
}
.hero input {
    flex: 1;
    border: none;
    padding: 15px;
    font-size: 18px;
    border-radius: 8px;
}
.hero button {
    background: #1780aa;
    color: black;
    border: none;
    padding: 15px 20px;
    cursor: pointer;
    font-size: 16px;
}
.crypto-table {
    max-width: 775px;
    margin: 50px auto 0;
    background: linear-gradient(rgba(81, 39, 170, 0.144), rgba(108, 43, 138, 0.39));
    border-radius: 15px;
}
.table-layout {
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 1.5fr;
    padding: 15px 25px;
    justify-content: space-between;
    align-items: center;
}
.table-layout div {
    display: flex;
    align-items: center;
    gap: 15px;
}
.table-layout img {
    width: 40px;
}
.market-cap {
    text-align: center;
}
.green { color: #00D515; text-align: center; }
.red { color: #ff4646; text-align: center;}
@media (max-width: 768px) {
    .table-layout {
        grid-template-columns: 0.5fr 3fr 1fr 1fr;
    }
    .market-cap { display: none; }
    .hero form { width: 95%; }
}
@media (max-width: 620px) {
    .table-layout img { width: 25px; }
    .table-layout { font-size: 13px; padding: 10px 15px; }
    .hero input { font-size: 16px; }
}