.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10%;
    color: #ddd;
    border-bottom: 2px solid #3c3c3c;
}
.navbar .logo {
    width: max(12vw, 120px);
}
.navbar ul{
    display: flex;
    list-style: none;
    gap: 50px;
    font-family: 'Outfit', sans-serif;
}
.navbar li{
    cursor: pointer;
}
.nav-right {
    display: flex;
    align-items: center;
    gap: max(1vw, 12px);
}
.navbar select{
    padding: 10px 8px;
    background: transparent;
    border: 2px solid;
    border-radius: 10px;
    cursor: pointer;
    color: white;
}
.navbar option{
    background-color: #09005c;
    color: white;
}
.navbar button {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 25px;
    font-size: 15px;
    font-weight: 500;
    background: transparent;
    color: white;
    border: 2px solid;
    border-radius: 10px;
    cursor: pointer;
}
.nav-right img {
    width: 15px;
}
@media (max-width: 1000px){
    .navbar{
        padding: 20px 8%;
    }
    .navbar button{
        gap: 8px;
        padding: 8px 18px;
        font-size: 10px;
    }
}
@media (max-width: 768px){
    .navbar{
        padding: 20px 5%;
    }
    .navbar ul{
        display: none;
    }
    .navbar button img{
        width: 12px;
    }
}
.auth-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}
.auth-modal {
  background: linear-gradient(135deg, #1a1a2e, #16213e);
  border-radius: 15px;
  padding: 30px;
  width: 50%;
  max-width: 400px;
  border: 2px solid #3c3c3c;
}
.auth-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
.auth-header h2 {
  color: #fff;
  margin: 0;
  font-size: 25px;
  font-weight: 600;
}
.auth-form {
  display: flex;
  flex-direction: column;
}
.form-group {
  display: flex;
  flex-direction: column;
}
.form-group label {
  color: #fff;
  font-size: 15px;
  margin-bottom: 10px;
}
.form-group input {
  padding: 12px 15px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  color: #fff;
  font-size: 15px;
  margin-bottom: 10px;
}
.auth-submit-btn {
  background: linear-gradient(45deg, #00d4ff, #09005c);
  color: #fff;
  font-size: 15px;
  cursor: pointer;
  margin: auto;
  margin-top: 15px;
}
.auth-footer {
  text-align: center;
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #3c3c3c;
}
.auth-footer p {
  color: #aaa;
  font-size: 18px;
}
.toggle-auth-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 15px;
  margin: auto;
  margin-top: 18px;
}
@media (max-width: 768px) {
  .auth-modal {
    padding: 20px;
    margin: 20px;
  }
  .auth-header h2 {
    font-size: 20px;
  }
}